hr 
{
	color:sienna;
}

a:link {color: #bfbfff}
a:visited {color: #afafff}
a:hover 
{
	color: #3f3fef;
	background: #ffffff;
}

p
{
	font-family:"Verdana";
	font-size:large;
	//text-align:right;
}

body 
{
	color:lightblue;
	background-color:black
}

th
{
	text-align:center;
	font-family:"Verdana";
	font-size:large;
}

th.Links
{
	text-align:center;
	font-family:"Verdana";
	font-size:large;
}

td.TDL
{
	text-align:left;
	font-family:"Verdana";
	font-size:normal;
}

td.TDC
{
	text-align:center;
}
td.TDCImage
{
	text-align:center;
	background-image:url("Images/strings1.jpg");
	background-repeat:no-repeat;
	background-position:center;
}

td.TDR
{
	text-align:right;
	font-family:"Verdana";
	font-size:normal;
}

p.copyrighttext
{
	color:#f00d1e;
	font-size:small;
	font-family:"Verdana";
}


